$mainFontFamily: "Helvetica Neue", helvetica, arial, sans-serif;

$main: #1D9CD6;
$second: #2B2D31;

$detail1: #566270;
$detail2: #727A84;
$detail3: #A1A5A9;
$detail4: #D3D4D7;
$detail5: #F1F2F3;
$detail6: #F7F7F7;
